<div class="col-md-4 col-md-offset-1">
  <div class="row" ng-controller="RiCtrl as ri">
    <div class="col-md-8 col-md-offset-2">
      <input required ng-model="input.ri_airline_revenue" ng-change="ri.setInput(input)" class="form-control input-lg input-xlg mb-1" placeholder="Airline Revenue">
    </div>
  </div>

  <div class="row clearfix postfix-choice" ng-controller="RiCtrl as ri">
    <h3>Option Example</h3>
    <div class="col-md-6 text-right">
      <input id="option1yes" type="radio" required ng-model="input.option1" ng-change="ri.setInput(input)" ng-value="5" class="radio">
      <label for="option1yes" class="input-lg choice-left text-center" ng-class="{'active':tog==1}" ng-click="tog=1"><span
          class="glyphicon glyphicon-ok"></span></label>
    </div>
    <div class="col-md-6 text-left">
      <input id="option1no" type="radio" required ng-model="input.option1" ng-change="ri.setInput(input)" ng-value="0" class="radio">
      <label for="option1no" class="input-lg choice-right text-center" ng-class="{'active':tog==2}" ng-click="tog=2"><span
          class="glyphicon glyphicon-remove"></span></label>
    </div>
  </div>
</div>
