<div class="col-md-4 col-md-offset-4">

  <h1 class="mb-20">Horizon Value Calculator</h1>
  <input required ng-model="user.username" ng-change="user.setInput(user)" class="form-control input-lg input-xlg mb-20"
         placeholder="Your name...">

  <div class="postfix-action">
    <input ng-model="user.session_name" ng-change="user.setInput(user)" class="form-control input-lg input-xlg"
           placeholder="Session name...">
    <a href="/#/calculator" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span></a>
  </div>

</div>
