<section class="cal-group row">
    <div class="input-group">
        <label class="col-sm-8 control-label">Airline's annual revenue</label>

        <div class="col-sm-4">
            <input ng-model="cal.airline_revenue" ng-change="cal.setInput(cal)" step="100000"
                   class="form-input" placeholder="Enter number" type="number" required>
        </div>
    </div>

    <div class="input-group">
        <label class="col-sm-8 control-label">Airline's annual cost base</label>

        <div class="col-sm-4">
            <input ng-model="cal.airline_cost_base" ng-change="cal.setInput(cal)" step="100000"
                   class="form-input" placeholder="Enter number" type="number" required>
        </div>
    </div>

    <div class="input-group">
        <label class="col-sm-8 control-label">Annual distribution costs rate</label>

        <div class="postfix-label col-sm-4">
            <input ng-model="cal.annual_dist_costs_rate" ng-change="cal.setInput(cal)" min="0" max="100" step="0.5"
                   class="form-input col-md-4" type="number" required>
            <span class="label col-sm-2">%</span>
        </div>
    </div>

    <div class="input-group">
        <label class="col-sm-8 control-label">Average yield per ticket</label>

        <div class="col-sm-4">
            <input ng-model="cal.av_yield_per_ticket" ng-change="cal.setInput(cal)" step="100000"
                   class="form-input" placeholder="Enter number" type="number" required>
        </div>
    </div>

    <div class="input-group">
        <label class="col-sm-8 control-label">Annual fuel cost rate</label>

        <div class="postfix-label col-sm-4">
            <input ng-model="cal.annual_fuel_cost_rate" ng-change="cal.setInput(cal)" min="0" max="100" step="0.5"
                   class="form-input col-md-4" type="number" required>
            <span class="label col-sm-2">%</span>
        </div>
    </div>
</section>