<section class="cal-group row">
<header>Service</header>

<div class="input-group postfix-choice">
    <label class="col-sm-8 control-label">Revenue Integrity</label>

    <div class="col-sm-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op1yes" type="radio" required ng-model="cal.service_revenue_integrity" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op1yes" class="choice text-center" ng-class="{'active':cal.service_revenue_integrity==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op1no" type="radio" required ng-model="cal.service_revenue_integrity" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op1no" class="choice text-center" ng-class="{'active':cal.service_revenue_integrity==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Revenue Integrity process improvement consultancy</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op2yes" type="radio" required ng-model="cal.service_revenue_integrity_process" ng-change="cal.setInput(cal)"
                       ng-value="5"
                       class="radio">
                <label for="op2yes" class="choice text-center" ng-class="{'active':cal.service_revenue_integrity_process==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op2no" type="radio" required ng-model="cal.service_revenue_integrity_process" ng-change="cal.setInput(cal)"
                       ng-value="0"
                       class="radio">
                <label for="op2no" class="choice text-center" ng-class="{'active':cal.service_revenue_integrity_process==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Channel shift</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op3yes" type="radio" required ng-model="cal.service_channel_shift" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op3yes" class="choice text-center" ng-class="{'active':cal.service_channel_shift==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op3no" type="radio" required ng-model="cal.service_channel_shift" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op3no" class="choice text-center" ng-class="{'active':cal.service_channel_shift==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Ancillary sales</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op4yes" type="radio" required ng-model="cal.service_ancillary_sales" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op4yes" class="choice text-center" ng-class="{'active':cal.service_ancillary_sales==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op5no" type="radio" required ng-model="cal.service_ancillary_sales" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op5no" class="choice text-center" ng-class="{'active':cal.service_ancillary_sales==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Weight and Balance Cost Manager Application (for fuel) (CMAP)</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op6yes" type="radio" required ng-model="cal.service_weight_balance" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op6yes" class="choice text-center" ng-class="{'active':cal.service_weight_balance==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op6no" type="radio" required ng-model="cal.service_weight_balance" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op6no" class="choice text-center" ng-class="{'active':cal.service_weight_balance==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">O&D (origin and destination) revenue management</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op7yes" type="radio" required ng-model="cal.service_o_and_d" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op7yes" class="choice text-center" ng-class="{'active':cal.service_o_and_d==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op7no" type="radio" required ng-model="cal.service_o_and_d" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op7no" class="choice text-center" ng-class="{'active':cal.service_o_and_d==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Point of sale controls</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op8yes" type="radio" required ng-model="cal.service_pos_controls" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op8yes" class="choice text-center" ng-class="{'active':cal.service_pos_controls==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op8no" type="radio" required ng-model="cal.service_pos_controls" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op8no" class="choice text-center" ng-class="{'active':cal.service_pos_controls==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Reprice/re-issue</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op9yes" type="radio" required ng-model="cal.service_reprice_reissue" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op9yes" class="choice text-center" ng-class="{'active':cal.service_reprice_reissue==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op9no" type="radio" required ng-model="cal.service_reprice_reissue" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op9no" class="choice text-center" ng-class="{'active':cal.service_reprice_reissue==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="input-group postfix-choice">

    <label class="col-md-8 control-label">Airfare Insight</label>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <input id="op10yes" type="radio" required ng-model="cal.service_airfare_insight" ng-change="cal.setInput(cal)" ng-value="5"
                       class="radio">
                <label for="op10yes" class="choice text-center" ng-class="{'active':cal.service_airfare_insight==5}"><span
                      class="glyphicon glyphicon-ok"></span></label>
            </div>
            <div class="col-md-4">
                <input id="op10no" type="radio" required ng-model="cal.service_airfare_insight" ng-change="cal.setInput(cal)" ng-value="0"
                       class="radio">
                <label for="op10no" class="choice text-center" ng-class="{'active':cal.service_airfare_insight==0}"><span
                      class="glyphicon glyphicon-remove"></span></label>
            </div>
        </div>
    </div>
</div>
</section>
