<div id="footbar" class="row white-content">
  <div class="col-md-3 text-left"><img src="/images/logo-small.png"></div>
  <div class="col-md-1 text-right col-no-padding"><a href="#" class="pager-nav pager-nav-prev"><span
      class="glyphicon glyphicon-arrow-left"></span> PREV</a></div>
  <div class="col-md-4 text-center question-progress"><span style="width: 33%"></span> QUESTIONS | 33%</div>
  <div class="col-md-1 text-left col-no-padding"><a href="#" class="pager-nav pager-nav-next">NEXT <span
      class="glyphicon glyphicon-arrow-right"></span></a></div>
  <div class="col-md-3 text-right"></div>
</div>