<div class="snap-drawer snap-drawer-left">
    <div class="padder">
        <ul class="list-unstyled side-nav">
            <li><a href="/#/user"><img src="/images/nav-icon-user.png">{{ nav.user }} <span ng-hide="nav.user">Add your name here</span></a></li>
            <li><a href="/#/user"><img src="/images/nav-icon-company.png">{{ nav.session_name }} <span ng-hide="nav.session_name">Add a name for this session</span></a></li>
            <li><a href="/#/calculator"><img src="/images/nav-icon-calc.png">Calculator</a></li>
            <li>
                    <span class="online" ng-show="nav.isNetUp">
                        <a href="#"><img src="/images/network-connected.png"> Online</a>
                    </span>
                    <span class="offline" ng-hide="nav.isNetUp">
                        <a href="#"><img src="/images/network-not-connected.png"> Offline</a>
                    </span>
            </li>
            <li><a href="#"><img src="/images/nav-icon-graph.png"> Sessions</a></li>
            <li><a href="#"><img src="/images/nav-icon-graphics.png"> Captured Screens</a></li>
            <li><a href="/#/logout"><img src="/images/nav-icon-logout.png"> Log Out</a></li>
        </ul>
    </div>
</div>